results/**/*.*

# Python cache (+ mypy and pytest)
__pycache__/
.mypy_cache/
.pytest_cache/

# Python environment
.venv/
.env/

# JetBrains IDE
/.idea/

!.gitkeep

# Save Apertium mapper so newcomers don't have to run the program twice
# !/results/apertium_mapper.txt
